In [2]:
import pandas as pd

df = pd.read_csv("original.csv", sep=";")

In [3]:
# column names snake case
mapping = {}
for c in df.columns:
    print(c)
    c2 = c.lower()
    c2 = c2.replace(" ", "_")
    c2 = c2.replace("'s", "")
    c2 = c2.replace("/", "_")
    c2 = c2.replace("(", "").replace(")", "")
    c2 = c2.replace("curricular_units_", "") 
    c2 = c2.strip()
    mapping[c] = c2

print("---")
df = df.rename(columns=mapping)
for c in df.columns:
    print(c)

Marital status
Application mode
Application order
Course
Daytime/evening attendance
Previous qualification
Previous qualification (grade)
Nacionality
Mother's qualification
Father's qualification
Mother's occupation
Father's occupation
Admission grade
Displaced
Educational special needs
Debtor
Tuition fees up to date
Gender
Scholarship holder
Age at enrollment
International
Curricular units 1st sem (credited)
Curricular units 1st sem (enrolled)
Curricular units 1st sem (evaluations)
Curricular units 1st sem (approved)
Curricular units 1st sem (grade)
Curricular units 1st sem (without evaluations)
Curricular units 2nd sem (credited)
Curricular units 2nd sem (enrolled)
Curricular units 2nd sem (evaluations)
Curricular units 2nd sem (approved)
Curricular units 2nd sem (grade)
Curricular units 2nd sem (without evaluations)
Unemployment rate
Inflation rate
GDP
Target
---
marital_status
application_mode
application_order
course
daytime_evening_attendance
previous_qualification
previous_qualification_grade
nacionality
mother_qualification
father_qualification
mother_occupation
father_occupation
admission_grade
displaced
educational_special_needs
debtor
tuition_fees_up_to_date
gender
scholarship_holder
age_at_enrollment
international
1st_sem_credited
1st_sem_enrolled
1st_sem_evaluations
1st_sem_approved
1st_sem_grade
1st_sem_without_evaluations
2nd_sem_credited
2nd_sem_enrolled
2nd_sem_evaluations
2nd_sem_approved
2nd_sem_grade
2nd_sem_without_evaluations
unemployment_rate
inflation_rate
gdp
target

In [4]:
# drop enrolled
df = df[df["target"] != "Enrolled"]

In [ ]:
# convert target to numerics
def transform_target(t):
    if t == "Dropout":
        return 0
    elif t == "Graduate":
        return 1
    else:
        raise Exception("unexpected target value " + t)

targets = [transform_target(v) for v in df["target"].values]
df["target"] = targets

In [6]:
# save
df.to_csv("data.csv", index=False)